Package: ws.hbang.libopener
Name: Opener
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 1.1.2
Architecture: iphoneos-arm
Description: Developer library for overriding link destinations
Maintainer: HASHBANG Productions <libopener@hbang.ws>
Author: HASHBANG Productions <libopener@hbang.ws>
Section: Development
