Package: ws.hbang.libopener
Name: Opener
Depends: firmware (>= 5.0), firmware (<< 10.2), mobilesubstrate, preferenceloader, com.rpetrich.rocketbootstrap, ws.hbang.common (>= 1.9)
Version: 3.1.1
Architecture: iphoneos-arm
Description: Developer library for overriding link destinations
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://hbang.ws/support/
Section: Development
