Package: ws.hbang.libopener
Name: Opener
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap, ws.hbang.common
Version: 2.0.1
Architecture: iphoneos-arm
Description: Developer library for overriding link destinations
Maintainer: HASHBANG Productions <libopener@hbang.ws>
Author: HASHBANG Productions <libopener@hbang.ws>
Support: http://cydia.hbang.ws/status#libopener
Section: Development
