<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browsers</key>
	<dict>
		<key>com.google.chrome.ios</key>
		<dict>
			<key>x-callback-url</key>
			<string>googlechrome-x-callback://x-callback-url/open/?url=%@&amp;create-new-tab</string>
		</dict>
		<key>org.mozilla.ios.Firefox</key>
		<dict>
			<key>x-callback-url</key>
			<string>firefox://open-url?url=%@</string>
		</dict>
		<key>com.opera.Coast</key>
		<dict>
			<key>http</key>
			<string>coast-http</string>
			<key>https</key>
			<string>coast-https</string>
		</dict>
		<key>com.opera.OperaMini</key>
		<dict>
			<key>http</key>
			<string>ohttp</string>
			<key>https</key>
			<string>ohttps</string>
		</dict>
		<key>com.dolphin.browser.iphone</key>
		<dict>
			<key>http</key>
			<string>dolphin</string>
		</dict>
		<key>com.dolphin.browser.pad</key>
		<dict>
			<key>http</key>
			<string>dolphin</string>
		</dict>
		<key>com.lazarSidor.1password</key>
		<dict>
			<key>http</key>
			<string>ophttp</string>
			<key>https</key>
			<string>ophttps</string>
		</dict>
	</dict>
</dict>
</plist>
